flows_INV050895.local.json
[{"id":"151f3112.3012cf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"470e0e82.490f1","type":"inject","z":"151f3112.3012cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["bedc41fb.21068"]]},{"id":"bedc41fb.21068","type":"function","z":"151f3112.3012cf","name":"","func":"msg.payload = \"coucou\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["9e034647.c5e368"]]},{"id":"9e034647.c5e368","type":"debug","z":"151f3112.3012cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":80,"wires":[]}]